.visual-plotter {
    position: relative;
    canvas {
        position: absolute;
        top: 0px; left: 0px;
        bottom: 0px; right: 0px
    }
    .map-view {
        width:100%;
        height: auto;
        opacity: 0.5;
    } 
}