<hr>
<input #searchField placeholder="Enter ZIP or city... (, state)"> <button (click)="search(searchField.value);">🔎</button>
<table *ngIf="results">
    <caption>Results</caption>
    <tbody>
        <th style="text-align: left;">ZIP Code</th>
        <th style="text-align: left;">City, State</th>
        <th style="text-align: right;">Polulation</th>
        <tr *ngFor="let result of results">
            <td>{{result._id}}</td>
            <td>{{result.city}}, {{result.state}}</td>
            <td style="text-align: right;">{{result.pop}}</td>
        </tr>
    </tbody>
</table>