
<div class="visual-plotter">
    <img #mapView class="map-view" src="assets\projected-world-map.jpg" alt="">
    <div #plotter id="plotter"></div>
</div>
<div class="floating-ui">
    <input #searchField placeholder="Enter ZIP or city... (, state)">
    <button (click)="search(searchField.value);">🔎</button>
    <hr>
    <table *ngIf="results else noResults">
        <tbody>
            <th style="text-align: left;">ZIP Code</th>
            <th style="text-align: left;">City, State</th>
            <th style="text-align: right;">Polulation</th>
            <tr *ngFor="let result of results" (click)="isolate(result)">
                <td>{{result._id}}</td>
                <td>{{result.city}}, {{result.state}}</td>
                <td style="text-align: right;">{{result.pop}}</td>
            </tr>
        </tbody>
    </table>
    <ng-template #noResults>
        <h1>No results</h1>
    </ng-template>
</div>